<div class="testimonial-image">
    {% if block.image != blank %}
    <img src="{{ block.image | image_url:'100x100' }}" class="img-fluid my-4" alt="">
    {% else %}
    <img src="{{ 'testimonial-image.svg' | image_url:'120x120' }}" class="img-fluid mb-4" alt="Testimonial from {{ block.name }}">
    {% endif %}
    </div>
    <div class="testimonial-content d-md-block">
    <blockquote>{{ block.text }}</blockquote>
    <p class="name my-4">{{ block.name }}</p>
    </div>
    
    {% schema %}
    {
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "default": "avatar.svg",
                "label": "Image"
            },
            {
                "type": "richtext",
                "id": "text",
                "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                "label": "Content"
            },
            {
                "type": "text",
                "id": "name",
                "default": "Lorem ipsum",
                "label": "Name"
            }
        ]
    }
    {% endschema %}