<footer class="footer-simple {{ section.settings.background_color }}">
  <div class="container">
    <div class="d-lg-flex justify-content-between">
        <div class="footer-simple__logo text-lg-start py-2 py-md-0" style="height: 60px">
          {% if section.settings.logo == blank %}
          <div class="{% if section.settings.background_color != "bg-light" %}text-light{%else%}text-dark{% endif %}">LOGO</div>
          {% else %}
          <a href="/">
            <img alt="Go to homepage"
              class="img-fluid"
              src="{{ section.settings.logo | image_url }}" />
          </a>
          {% endif %}
        </div>
      <div class="footer-simple__links">
        <ul class="list-unstyled d-lg-flex justify-content-center">
          {% for item in menus[section.settings.topmenu].menu_items %}
          {% if item.description != blank %}
          <li>
            <a aria-label="{{ item.description }}" class="footer-simple__link nav-link{% if section.settings.background_color != "bg-light" %} text-light{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
          </li>
          {% else %}
          <li>
            <a class="footer-simple__link nav-link{% if section.settings.background_color != "bg-light" %} text-light{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="visually-hidden"><a href="/sitemap.xml">Sitemap</a></li>
        </ul>
      </div>

      <div class="footer-simple__socials">
          
          <ul class="list-inline">
             {% if section.settings.instagram_url != blank %}
            <li class="list-inline-item">
              <a aria-label="Instagram" href="{{ section.settings.instagram_url }}">
                <span class="icon-instagram{% if section.settings.background_color != "bg-light" %} text-light{% endif %}"></span>
              </a>
            </li>
            {% endif %}
            {% if section.settings.facebook_url != blank %}
            <li class="list-inline-item">
              <a aria-label="Facebook" href="{{ section.settings.facebook_url }}">
                <span class="icon-facebook{% if section.settings.background_color != "bg-light" %} text-light{% endif %}"></span></span>
              </a>
            </li>
            {% endif %}
            {% if section.settings.twitter_url != blank %}
            <li class="list-inline-item">
              <a aria-label="Twitter" href="{{ section.settings.twitter_url }}">
                <span class="icon-twitter{% if section.settings.background_color != "bg-light" %} text-light{% endif %}"></span></span>
              </a>
            </li>
            {% endif %} 
            {% if section.settings.pinterest_url != blank %}
            <li class="list-inline-item">
              <a aria-label="Pinterest" href="{{ section.settings.pinterest_url }}">
                <span class="icon-pinterest{% if section.settings.background_color != "bg-light" %} text-light{% endif %}"></span>
              </a>
            </li>
            {% endif %} 
          </ul>
          
          
      </div>
    </div>
    </div>
    <div class="d-lg-flex mt-3 justify-content-center">
        <div class="footer-simple__secondary">
          <ul class="list-unstyled d-lg-flex">
             <li class="px-2 footer-simple__copy">{{ section.settings.copyright_text }}</li>
            {% for item in menus[section.settings.bottom].menu_items
            %}
            <li class="px-2">
              <a class="footer-simple__link{% if section.settings.background_color != "bg-light" %} text-light{% endif %}" href="{{ item.link }}"
                >{{ item.name }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{% styles %}
.footer-simple a:hover {
  text-decoration: underline;
}

.footer-simple .footer-simple__logo img {
  max-height: 45px;
}

.footer-simple .footer-simple__logo {
  margin-bottom: 20px;
}

.footer-simple .footer-simple__socials {
  font-size: 22px;
}

.footer-simple .footer-simple__links,
.footer-simple .footer-simple__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-simple .footer-simple__socials ul,
.footer-simple .footer-simple__links ul {
  margin-bottom: 0;
}

.footer-simple .footer-simple__secondary ul li,
.footer-simple .footer-simple__links ul li {
  margin-bottom: 20px;
  text-decoration: none;
  
}

.footer-simple .footer-simple__link {
  text-decoration: none;
}

.footer-simple .footer-simple__copy,
.footer-simple .footer-simple__secondary a {
  color: {{ color_text }};
  font-family: {{ type_base_font }};
  opacity: 0.4;
  font-size: 0.8em;
}

.footer-simple .footer-simple__socials svg {
  width: 22px;
  height: 22px;
}

.footer-simple .footer-simple__secondary ul li {
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .footer-simple .footer-simple__socials svg {
    width: 18px;
    height: 18px;
  }

  .footer-simple .footer-simple__secondary ul li,
  .footer-simple .footer-simple__links ul li {
    display: inline-block;
    margin: 0 10px 0 0;
  }

  .footer-simple .footer-simple__socials {
    justify-content: flex-end;
  }

  .footer-simple .footer-simple__links {
    justify-content: start;
  }

  .footer-simple .footer-simple__logo {
    margin-bottom: initial;
  }
}
{% endstyles %}

{% schema %}
{
    "name": "Footer Simple",
    "description": "A simple footer with logo, menu for navigaiton links, menu for copyright/terms pages and social media links.",
    "settings": [
        {
          "type": "select",
          "id": "background_color",
          "label": "Background Color",
          "default": "bg-light",
          "options": [
              {
                  "label": "Primary",
                  "value": "bg-primary"
              },
              {
                  "label": "Secondary",
                  "value": "bg-secondary"
              },
              {
                  "label": "Tertiary",
                  "value": "bg-tertiary"
              },
              {
                  "label": "Accent",
                  "value": "bg-accent"
              },
              {
                  "label": "Light",
                  "value": "bg-light"
              },
              {
                  "label": "Dark",
                  "value": "bg-dark"
              }
          ]
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "link_list",
            "id": "topmenu",
            "label": "Main Menu List",
            "default": "main"
        },
        {
            "type": "link_list",
            "id": "bottom",
            "label": "Bottom Menu List",
            "default": "footer-bottom"
        },
        {
            "type":"text",
            "id":"copyright_text",
            "label":"Copyright text",
            "default":"Add your copyright text here."
        },
        {
            "type":"url",
            "id":"instagram_url",
            "label":"Instagram URL",
            "default":""
        },
        {
            "type":"url",
            "id":"facebook_url",
            "label":"Facebook URL",
            "default":""
        },
        {
            "type":"url",
            "id":"twitter_url",
            "label":"Twitter URL",
            "default":""
        },
        {
            "type":"url",
            "id":"pinterest_url",
            "label":"Pinterest URL",
            "default":""
        }
    ]
}
{% endschema %}
