<div class="form-section container-fluid section-{{ section.id }} bg-{{ section.settings.background_color }} my-{{ section.settings.margin }}">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-{{ section.settings.container_size }} text-{{ section.settings.alignment }}">
                {% if section.settings.title != blank %}
                <h2 class="mb-4 {%if section.settings.background_color != 'light' %}text-light{% endif %}">{{ section.settings.title }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="{%if section.settings.background_color != 'light' %}text-light{% endif %}"><p>{{ section.settings.text }}</p></div>
                {% endif %}
                {% if section.settings.form != blank %}
                {% form {{ section.settings.form }} %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% styles %}
.form-section {
    padding: 80px 0;
}

{% if section.settings.background_color != 'light' %}
    label {
        color: {{ light_color }};
    }
    
    .form-control {
        background-color: {{ light_color }};    
    }
    
    .submit-btn {
        color: {{ light_color }};
        background-color: transparent;
        background-image: none;
        border-color: {{ light_color }};
        border: solid 1px;
    }
{% endif %}


@media screen and (max-width: 576px) {
    .form-section {
        padding: 80px 20px;
    }
}

    
{% endstyles %}

{% schema %}
{
    "name": "Form",
    "description": "Section for inserting the contact form in a page with customizable background. Will require the form's slug",
    "settings": [
        {
            "type": "select",
            "id": "margin",
            "label": "Section Margin",
            "default": "0",
            "options": [
            {
            "label": "Large",
            "value": "5"
            },
            {
                "label": "Medium",
                "value": "3"
            },
            {
                "label": "Small",
                "value": "1"
            },
            {
                "label": "None",
                "value": "0"
            }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "6",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
            {
                "label": "Left",
                "value": "left"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "right"
            }]
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "default": "light",
            "options": [
                {
                    "label": "Primary",
                    "value": "primary"
                },
                {
                    "label": "Secondary",
                    "value": "secondary"
                },
                {
                    "label": "Tertiary",
                    "value": "tertiary"
                },
                {
                    "label": "Accent",
                    "value": "accent"
                },
                {
                    "label": "Light",
                    "value": "light"
                },
                {
                    "label": "Dark",
                    "value": "dark"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Content"
        },
        {
            "type": "text",
            "id": "form",
            "default": "contact-form",
            "label": "Form Slug"
        }
    ]
}
{% endschema %}