<header id="header">
    <nav class="navbar{%if section.settings.sticky == true %} fixed-top{% endif %} navbar-expand-md navbar-{% if section.settings.background_color == 'bg-light'%}light{%else%}dark{% endif %} main-nav {{ section.settings.background_color }}" style="min-height: 85px">
    <div class="container-fluid">
        <button aria-label="Desktop Toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100">
            <ul id="navlinkContainer" class="nav navbar-nav w-100">
                {% for item in menus[section.settings.main_menu].menu_items %}
                    {% if item.name == "Home" %}
                    <li class="nav-item home-link">
                        <a class="nav-link{% if section.settings.background_color != "bg-light" %} text-light{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link{% if section.settings.background_color != "bg-light" %} text-light{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <a class="navbar-brand order-first order-md-0 mx-0" href="/">
            {% if section.settings.logo == blank %}
                <div class="{% if section.settings.background_color != "bg-light" %}text-light{%else%}text-dark{% endif %}">LOGO</div>
            {% else %}
                <img alt="Go to {{ seo_title }}'s Homepage" class="desktop-logo" src="{{ section.settings.logo | image_url }}" style="height: {{ section.settings.logo_size }};" />
            {% endif %}</a>
        <div class="collapse navbar-collapse w-100">
            <div class="nav navbar-nav ml-auto">
                {% if section.settings.search == true %}
                    <div class="d-inline-block">
                    <a aria-label="Search site" href="/search"><span class="icon-search-icon{% if section.settings.background_color != "bg-light" %} text-light{% endif %} nav-link"></span></a>
                    </div>
                {% endif %}
                {% if section.settings.phone != blank %}
                    <div class="d-inline-block">
                    <a class="nav-link mr-3" href="tel:{{ section.settings.phone | | remove: ' ' | | remove: '(' | | remove: ')' | | remove: '-' | | remove: '.' }}"><span class="icon-phone-icon{% if section.settings.background_color != "bg-light" %} text-light{% endif %} mr-2"></span><span class="pb-1{% if section.settings.background_color != "bg-light" %} text-light{%endif%}">{{ section.settings.phone }}</span></a>
                    </div>
                {% endif %}
                {% if section.settings.nav_btn_text != blank %}
                    <div class="d-inline-block">
                    <a aria-label="Go to {{ seo_title }}'s Contact page" class="nav-link-btn btn{% if section.settings.background_color != "bg-light" %} btn-outline-light{%else%} btn-primary{% endif %}" style="padding: 5px 25px;" href="{{ section.settings.nav_btn_link }}">{{ section.settings.nav_btn_text }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

</header>

<div id="mobileHeader">
    <nav class="navbar navbar-expand-xl navbar-{% if section.settings.background_color == 'bg-light'%}light{%else%}dark{% endif %} main-nav {{ section.settings.background_color }}">
    <div class="container-fluid">
        <button aria-label="Mobile Menu Toggle" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start w-100 px-4 py-3 {{ section.settings.background_color }}" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="row top">
            <div class="col d-flex align-items-center">
            <button type="button" class="btn-close text-reset{% if section.settings.background_color != 'bg-light'%} text-light{%endif%}" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <a alt="Go to {{ seo_title }}'s homepage" class="navbar-brand mx-0 ml-3" href="/">
            {% if section.settings.logo == blank %}
                <div class="{% if section.settings.background_color != "bg-light" %}text-light{%else%}text-dark{% endif %}">LOGO</div>
            {% else %}
                <img alt="Go to {{ seo_title }}'s Homepage" class="mobile-logo" src="{{ section.settings.logo | image_url }}" style="height: {{ section.settings.logo_size }};" />
            {% endif %}</a>
            </div>
            {% if section.settings.nav_btn_text != blank %}
            <div class="col d-flex align-items-center justify-content-end">
            <a aria-label="Go to {{ section.settings.nav_btn_text }} page (mobile)" class="nav-link-btn btn {%if section.settings.background_color != 'bg-light' %}btn-outline-light{%else%}btn-primary{% endif %}" style="padding: 5px 25px;" href="{{ section.settings.nav_btn_link }}">{{ section.settings.nav_btn_text }}</a>
            </div>
            {% endif %}
            </div>
                <ul class="nav navbar-nav w-100 my-3">
                {% if section.settings.search == true %}
                <li class="nav-item">
                <form action="/search" class="search-form">
                <label for="mobileNavSearch" class="nav-link mt-3">Search</label>
                <div class="d-flex flex-grow">
                <input id="mobileNavSearch" class="col{% if section.settings.background_color != "bg-light" %} text-light{%endif%}" type="text" name="q" placeholder="Term"  />
                <button class="btn{% if section.settings.background_color != "bg-light" %} btn-outline-light{%else%} btn-primary{% endif %}" type="submit" title="Search">Search</button>
                </div>
                </form>
                </li>
                {% endif %}
        
                {% for item in menus[section.settings.main_menu].menu_items %}
                    {% if item.name == "Home" %}
                    <li class="nav-item home-link">
                        <a class="nav-link mt-4{% if section.settings.background_color != "bg-light" %} text-light{%endif%}" href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link mt-4{% if section.settings.background_color != "bg-light" %} text-light{%endif%}" href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                <a class="nav-link mt-4 mr-3{% if section.settings.background_color != "bg-light" %} text-light{%endif%}" href="tel:{{ section.settings.phone | | remove: ' ' | | remove: '(' | | remove: ')' | | remove: '-' | | remove: '.' }}"><span class="icon-phone-icon{%if section.settings.background_color != 'bg-light'%} text-light{% endif %} mr-2"></span>{{ section.settings.phone }}</a>
            </ul>
        </div>
        <a class="navbar-brand mx-0" href="/">
            {% if section.settings.logo == blank %}
                <div class="{% if section.settings.background_color != "bg-light" %}text-light{%else%}text-dark{% endif %}">LOGO</div>
            {% else %}
                <img alt="Go to {{ seo_title }}'s Homepage" class="mobile-logo" src="{{ section.settings.logo | image_url }}" style="height: {{ section.settings.logo_size }};" />
            {% endif %}</a>
        <div>
            <div class="nav navbar-nav ml-auto">
                    <a aria-label="Call {{ seo_title }}'s phone number" class="nav-link mr-3" href="tel:{{ section.settings.phone | | remove: ' ' | | remove: '(' | | remove: ')' | | remove: '-' | | remove: '.' }}"><span class="icon-phone-icon{% if section.settings.background_color != "bg-light" %} text-light{%endif%} mr-2"></span></a>
            </div>
        </div>
    </div>
</nav>

</div>

{% if section.settings.sticky == true %}
<div style="height: 80px"></div>
{% endif %}

{% schema %}
    {
        "name":"Header",
        "settings":[
            {
                "type": "checkbox",
                "id": "sticky",
                "default": false,
                "label": "Sticky Header"
            },
            {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "default": "bg-light",
            "options": [
                {
                    "label": "Primary",
                    "value": "bg-primary"
                },
                {
                    "label": "Secondary",
                    "value": "bg-secondary"
                },
                {
                    "label": "Tertiary",
                    "value": "bg-tertiary"
                },
                {
                    "label": "Accent",
                    "value": "bg-accent"
                },
                {
                    "label": "Light",
                    "value": "bg-light"
                },
                {
                    "label": "Dark",
                    "value": "bg-dark"
                }
            ]
            },
            {
                "type": "link_list",
                "id": "main_menu",
                "default": "main",
                "label": "Main Menu List"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type": "range",
                "id": "logo_size",
                "label": "Logo Size",
                "default": 100,
                "min": 50,
                "max": 200,
                "step": 25
            },
            {
                "type": "checkbox",
                "id": "search",
                "label": "Add Search",
                "default": true
            },
            {
                "type": "text",
                "id": "phone",
                "default": "555-555-5555",
                "label": "Phone Number"
            },
            {
                "type": "text",
                "id": "nav_btn_text",
                "default": "Contact",
                "label": "Button Text"
            },
            {
                "type": "text",
                "id": "nav_btn_link",
                "label": "Button Link"
            }
        ]
    }
{% endschema %}