{% if section.settings.background_color == "primary" %}
{% assign bg_hex = "{{ primary_color }}" %}
{% elsif section.settings.background_color == "secondary" %}
{% assign bg_hex = "{{ secondary_color }}" %}
{% elsif section.settings.background_color == "tertiary" %}
{% assign bg_hex = "{{ tertiary_color }}" %}
{% elsif section.settings.background_color == "accent" %}
{% assign bg_hex = "{{ accent_color }}" %}
{% elsif section.settings.background_color == "light" %}
{% assign bg_hex = "{{ light_color }}" %}
{% elsif section.settings.background_color == "dark" %}
{% assign bg_hex = "{{ dark_color }}" %}
{% endif %}

<div class="page-header section-{{ section.id }} container{% if section.settings.fullwidth %}-fluid{%endif%} px-0 py-lg-{{ section.settings.padding }} my-{{ section.settings.margin }} gx-0">
 <div class="row gx-0">
    <div class="col-12 col-lg-6 order-first image-col{%if section.settings.layout == "2" %} order-lg-last text-lg-left{%else%} text-lg-right{%endif%} text-center d-lg-flex align-items-center {%if section.settings.layout == "2" %}justify-content-lg-start{%else%}justify-content-lg-end{%endif%}" style="min-height: 250px;">
      {% if section.settings.image != blank %}
            <img style="width: {{ section.settings.image_width }}%" src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.alt }}" />
    {% endif %}
    </div>
    <div class="col-12 col-lg-6 text-center text-lg-left align-self-center text-col pb-5 py-lg-5 px-lg-5 order-last{%if section.settings.layout == "2" %} order-lg-first{%endif%}">
      <h1 class="mb-3{%if section.settings.text_color == 'light' %} text-light{%endif%}">{{ section.settings.heading }}</h1>
      <p class="mb-4 pr-lg-4 mr-lg-5{%if section.settings.text_color == 'light' %} text-light{%endif%}">{{ section.settings.content }}</p>
      {% if section.settings.btn_label != blank and section.settings.btn_label2 == blank %}
      <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
          {{ section.settings.btn_label }}
      </a>
      {% elsif section.settings.btn_label2 != blank %}
      <div class="btn-container">
          <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }} mr-2" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
          {{ section.settings.btn_label }}
      </a>
         <a class="btn btn-{{ section.settings.btn_color2 }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link2 }}">
          {{ section.settings.btn_label2 }}
      </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% styles %}

.page-header {
    background: {{ bg_hex }}{{ section.settings.opacity }};
}

@media screen and (max-width: 768px) {
    .image-col {
        padding: 50px 0 25px;
    }
}

{% endstyles %}

{% schema %}
{
    "name": "Page Header",
    "description": "Two-column section that contains an image and content with H1, text, and option for 1 or 2 buttons.",
    "settings": [
    {
        "type": "checkbox",
        "id": "fullwidth",
        "default": true,
        "label": "Full Width"
    },
    {
        "type": "select",
        "id": "margin",
        "default": "0",
        "label": "Section Margin",
        "options": [
        {
            "label": "Large",
            "value": "5"
        },
        {
            "label": "Medium",
            "value": "3"
        },
        {
            "label": "Small",
            "value": "1"
        },
        {
            "label": "None",
            "value": "0"
        }]
    },
    {
        "type": "select",
        "id": "padding",
        "default": "3",
        "label": "Section Padding",
        "options": [
        {
            "label": "Large",
            "value": "5"
        },
        {
            "label": "Medium",
            "value": "3"
        },
        {
            "label": "Small",
            "value": "1"
        },
        {
            "label": "None",
            "value": "0"
        }]
    },
    {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "1",
        "options": [
        {
            "label": "Image Left Content Right",
            "value": "1"
        },
        {
            "label": "Content Left Image Right",
            "value": "2"
        }]
    },
    {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "tertiary",
        "options": [
            {
                "label": "Primary",
                "value": "primary"
            },
            {
                "label": "Secondary",
                "value": "secondary"
            },
            {
                "label": "Tertiary",
                "value": "tertiary"
            },
            {
                "label": "Accent",
                "value": "accent"
            },
            {
                "label": "Light",
                "value": "light"
            },
            {
                "label": "Dark",
                "value": "dark"
            }
        ]
    },
    {
        "type": "select",
        "id": "opacity",
        "label": "Background Opacity",
        "default": "1A",
        "options": [
            {
                "label": "Very Light",
                "value": "1A"
            },
            {
                "label": "Light",
                "value": "66"
            },
            {
                "label": "Medium",
                "value": "80"
            },
            {
                "label": "Dark",
                "value": "BF"
            },
            {
                "label": "Very Dark",
                "value": "E6"
            },
            {
                "label": "100%",
                "value": "FF"
            }
        ]
    },
    {
        "type": "image_picker",
        "id": "image",
        "default": "placeholder.webp",
        "label": "Image"
    },
    {
        "type": "range",
        "id": "image_width",
        "label": "Image Size",
        "default": 50,
        "min": 25,
        "max": 100,
        "step": 5
    },
    {
        "type": "text",
        "id": "alt",
        "label": "Image Alt Text"
    },
    {
        "type": "select",
        "id": "text_color",
        "default": "default",
        "label": "Text Color",
        "options": [
        {
            "label": "Default",
            "value": "default"
        },
        {
            "label": "Light",
            "value": "light"
        }]
    },
    {
        "type": "text",
        "id": "heading",
        "default": "Lorem ipsum",
        "label": "Heading"
    },
    {
        "type": "richtext",
        "id": "content",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        "label": "Text"
    },
    {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "default": "lg",
        "options": [
        {
            "label": "Small",
            "value": "sm"
        },
        {
            "label": "Large",
            "value": "lg"
        }]
    },
    {
        "type": "text",
        "id": "btn_label",
        "default": "Button 1",
        "label": "Button 1 Label"
    },
    {
        "type": "text",
        "id": "btn_link",
        "label": "Button 1 Link"
    },
    {
        "type": "select",
        "id": "btn_color",
        "default": "outline-primary",
        "label": "Button 1 Color",
        "options": [
        {
            "label": "Primary",
            "value": "primary"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Outline Primary",
            "value": "outline-primary"
        },
        {
            "label": "Outline Secondary",
            "value": "outline-secondary"
        },
        {
            "label": "Outline Light",
            "value": "outline-light"
        },
        {
            "label": "Outline Dark",
            "value": "outline-dark"
        },
        {
            "label": "Light",
            "value": "light"
        },
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Link",
            "value": "link"
        }]
    },
    {
        "type": "text",
        "id": "btn_label2",
        "default": "Button 2",
        "label": "Button 2 Label"
    },
    {
        "type": "text",
        "id": "btn_link2",
        "label": "Button 2 Link"
    },
    {
        "type": "select",
        "id": "btn_color2",
        "default": "primary",
        "label": "Button 2 Color",
        "options": [
        {
            "label": "Primary",
            "value": "primary"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Outline Primary",
            "value": "outline-primary"
        },
        {
            "label": "Outline Secondary",
            "value": "outline-secondary"
        },
        {
            "label": "Outline Light",
            "value": "outline-light"
        },
        {
            "label": "Outline Dark",
            "value": "outline-dark"
        },
        {
            "label": "Light",
            "value": "light"
        },
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Link",
            "value": "link"
        }]
    }
    
]
}
{% endschema %}